body {
    background: #fff;
    color: #222;
}

#lga {
    margin-top: 47px;
}

#hplogo {
    display: inline-block;
    position: relative;
    height: 180px;
    width: 500px;
    padding-top: 21px;
}

.sbti {
    background-color: red;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
}

div#searchform {
    background-color: green;
    text-align: center;
}

div#sbb {
    background-color: red;
    display: inline-block;
}

